
        <table class="table table-hover">
            <thead>
                <tr>
                    <th align="left">Id</th>
                    <th align="left">Nome</th>
                    <th align="left" style="padding-left:10px">Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var categorias in ViewBag.Categorias)
                {
                    <tr>
                        <td align="left">@categorias.Id</td>
                        <td align="left">@categorias.Nome</td>
                        <td align="left" style="padding-left:10px">@categorias.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>